* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(145, 147, 150);
    text-align: center;
    /*display: flex;
    flex-wrap: wrap;*/
}

header {
    padding-top: 20px;
}
header ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    list-style-type: none;

    
   /* box-sizing: 0 50%;*/
}

header li {
    display: inline-block;
  
 /*   list-style-type: none; */

   /* margin-left: 150px;
    margin-right: 150px;*/
}

header a {
    text-decoration: none;
    color: black;

    transition: transform .2s;
    
}

header li:hover {
    transform: scale(1.3);
    
}    

footer {
    padding: 0 0 20px 0;
    font-weight: lighter;
}

.avatar img{
    display: block;
    margin: auto; 
    max-width: 200px;
    padding: 20vh 0 5vh 0;

}
    

.intro, .about-me, .my-resume, .my-projects, .contact-form {

    background-image: url("../images/background1.jpg");
    background-size: 100%;
    background-position: center;
    margin: 20px;   
}

.intro, .about-me {
    height: 100vh;
}

.intro-text {
    display: block;
    flex-wrap: wrap;
    /*justify-content: center;*/
    /*align-items: center;*/

}

.intro-text h1 {
    font-size: 50px;
    font-weight: lighter;
}

.intro-text h2 {
    font-weight: lighter;
    font-style: italic;
    padding-bottom: 10px;
}

.intro-text p {
    font-size: 15px;
}

.about-me h2, .my-resume h2, .my-projects h2, .contact-form h2 {
    font-size: 25px;
    font-style: italic;
}
.about-me, .contact-form {
    padding: 30vh 20px;
}
.about-me, .my-projects, .contact-form{
    display: block;
    flex-wrap: auto;
}

.about-me h2, .my-resume h2, .my-projects h2, .contact-form h2{
    padding-bottom: 20px;
}

.about-me p, .my-projects p, .contact-form p {
    text-align: left;
    width: auto;
    margin-left: 30px;
    margin-right: 30px;   
}

.my-resume, .my-projects {
    padding: 10vh 20px;
    height: 100%;
}



.my-project-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: auto;
    justify-content: center;
    padding-top: 20px;

}

.live-link {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    margin: 5px;
    padding: auto;
    /*flex: 0 0 400px;*/
    width: 300px;
    height: 300px;
    display: inline-block;
    flex-wrap: wrap;
    justify-content: center;

    transition: transform .2s;
}


.live-link h3 {
    padding: 115px 0 10px 0;
    font-size: 33px;
    font-style: italic;

   /* line-height: 1.5;*/
}



.live-link a {
    text-decoration: none;
    position: relative;
    color: black;
    
}

.live-link:hover {
    transform: scale(1.2);
}

.run-buddy {
    background-image: url(../images/run-buddy-resize-square.jpg);
}

.horiseon {
    background-image: url(../images/Horiseon-screenshot-resize.png);

}


.example-3 {
}

.example-4 {
}

.example-5 {

}

/* CONTACT SECTION */
.contact-form input, .contact-form your-email{
    padding: 15px 20px;
}

.contact-form textarea {
    padding: 30px 20px;
}


.contact-form input, .contact-form textarea{
    border: 1px solid;
    display: block;
    font-size: 12px;
    font-style: italic;
    width: 50%;
    margin: auto;
    border-radius: 5px;

}

.contact-form button {
    width: auto;
    border: 1px solid;
    padding: 10px 20px;
    margin-top: 10px;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    .intro {
        height: 100%;
        padding-bottom: 20vh;
    }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width:768px) {
    .intro {
        height: 100%;
        padding-bottom: 10vh;
    }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    .avatar img {
        padding-top: 10vh;
    }

    .contact-form {  
    
        padding: 10vh 20px;
    }
}